/* general styles */

body {
	margin: 0;
	background: #331d0d;
	color: #ffffff;
}

a {
	text-decoration:none;
	color: inherit;
}

blockquote {
	background: #fff;
	margin-left: 1.5em;
	margin-right: 1em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-style: italic;
	padding: 0.4em;
	color: #000;
}

blockquote footer {
	margin-top: 0.2em;
	color: #000044;
	font-style: normal;
}
