/* Main style for Valyrian Tinfoil */

/* general styles */

body {
	margin: 0;
	background: #331d0d;
	color: #ffffff;
	/*font-size: 0.9em;*/
}

a {
	text-decoration:none;
	color: inherit;
}

blockquote {
	background: #fff;
	margin-left: 1.5em;
	margin-right: 1em;
	margin-top: 0.4em;
	margin-bottom: 0.4em;
	font-style: italic;
	padding: 0.4em;
	color: #000;
}

blockquote footer {
	margin-top: 0.2em;
	color: #000044;
	font-style: normal;
}

.meta {
	color: #331d0d;
}

.noresults {
	text-align: center;
}

/* main div style */

#main {
	background: #eeeeaa;
	color: #000044; 
	width: 70%; /* ! 960 px ! */
	margin: 0 auto;
	padding: 0;
	/*border-left: solid;
	border-right: solid;*/
}

/* header */

#header {
	text-align: center;
	overflow:hidden;
}

h1 {
	font-variant: small-caps;
	margin-top: 0.4em;/*11px;*/
}

#subheader {
	font-size: 1.2em;
	font-weight: bold;
}

/* banner */

#spoiler_alert {
	text-align: center;
	background: #ffaa33;
	padding: 0.2em 0;
}

/* navigation */

#nav_main ul {
	display: table;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
}

.nav_button {
	display: table-cell;
	color: #331d0d;
	text-align: center;
	border: solid;
	border-left: none;
	padding: 0.5em 0.5em;
	height: 1em;
	width: 15%;
}

#search_nav_button {
	width:25%;
	border-right: none;
}

#search_text_form {
	width: 60%;
}

/* content */

.main_content {
	padding: 0.5em 1em;
	line-height: 1.5em;
	text-align: justify;
}

#content {
	padding: 1em;
}

h4 {
	margin: 1em 0;
}

.theory, .character {
	border: solid;
	margin: 2em 0;
	background: #ffffff;
}

.page_header, .character_header {
	display: table;
	width: 100%;
	padding: 0;
	margin: 0 auto;
	text-align: center;
}

.page_h_code, .page_h_name, .page_h_status, .character_id, .character_name, .character_status {
	display: table-cell;
}

.page_h_code, .character_id {
	width: 8em;
	background: #fff;
}

.page_h_name, .character_name {
	font-variant: small-caps;
}

.page_h_name h3, .character_name h3 {
	margin-bottom: 0.8em;
}

.page_h_status, .character_status {
	width: 8em;
	border-left: solid;
	border-bottom: solid;
	position: relative;
}

.status_label {
	font-size: 0.8em;
	position: absolute;
	top: 0.2em;
	left: 0.4em;
	display: block;
}

.status_good {
	color: #00a500;
}

.page_tldr, .character_title {
	text-align: center;
	font-variant: small-caps;
	padding-top: 0.8em;
}

.character_other_titles {
	text-align: center;
}

.page_description, .character_description {
	margin-top: 0.5em;
	padding-top: 1em;
	border-top: solid;
}

.page_arguments {
	display: flex;
	justify-content: space-around;
	align-items: stretch;
}

.page_arg_column ol {
	margin: 1em 0.5em;
	padding: 0;
}

.page_arg_column li {
	/*list-style-type: none;*/
	list-style-position: inside;
	margin: 0.6em 0;
}

/* poll */

.page_voting {
	position: relative;
	text-align: center;
	margin-top: 1em;
}

.pro_button {
	position: absolute;
	right: 1em;
}

.against_button {
	position: absolute;
	left: 1em;
}

.bar {
	height: 0.4em;/*5px;*/
}

.page_voting .bar, .character_voting .bar {
	position: absolute;
}
.page_voting .pro_bar, .character_voting .pro_bar {
	left: 1.5%;/*10px;*/
	top: 1.5em;
}

.page_voting .against_bar, .character_voting .against_bar {
	right: 1.5%;
	top: 1.5em;
}

/* info */ /* trzeba to będzie jakoś uporządkować */

.page_info h5 {
	margin: 0.5em;
}

.page_info {
	display: flex;
	justify-content: space-around;
}

.ch_info {
	padding-left: 5%;
	padding-right: 5%;
}

.info_block {
	display: flex;
	flex-direction: column;
	padding-top: 1.5em;
}

.info_block ul {
	margin: 0.5em 0;
	padding-left: 1em;
	list-style: none;
}

.info_block ul li {
	margin: 0.5em 0;
}

.th_meta .info_block_part {
	margin: 0.5em 0;
}

.ch_rel_theories {
	overflow: hidden;
	flex-grow: 3;
	flex-shrink: 0;
}

.ch_rel_theories li {
	float: left;
	display: inline;
	width: 50%;
}

.ch_meta_info {
	flex-grow: 1;
}
/*

.page_info {
	display: table;
	width: 100%;
}

.info_block {
	display: table-cell;
	width: 25%;
}

.info_block ul {
	margin: 0.5em 0;
}

.info_block ul li {
	margin: 0.5em 0;
}

.th_meta .info_block_part {
	margin: 0.5em 0;
} */

/* browse nav */

.browse_nav {
	background: #fff;
	border: solid;
	border-color: #331d0d;
	margin-bottom: 2.5em;
}

.browse_nav_part {
	display: table-cell;
	padding: 1em;
}

.browse_nav_part select{
	margin: 0.4em;
}

/* loop */

.loop_bar {
	text-align: center;
	position: relative;
	margin-top: 0.5em;
	color: #000;
}

/* pagenav */

#pagenav {
	text-align: center;
	padding-top: 1em;
}

.pagenav_link{
	margin: 1em;
}


/* contact */

#contact_form {
	border: solid;
	padding: 2%;
	margin: 2% 5%;
}

/* footer */

#footer {
	font-size: 0.8em;
	color:#555555;
}
